.nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aqua;
}

#right {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-right: 50px;
    gap: 20px;
    justify-content: center;
    font-color: rgb(255, 255, 255);
}

#right button {
        background: white;
        color: black;
        border: blueviolet; 
        padding: 15px 31px;
        border-radius: 85px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 300;
    }
    #right button:hover {
        scale: 1;
        transition: all 0.4s ease-in-out;
        background: rgb(54, 53, 55);
        color: white;
    }
    